.active {
  background-color: silver;
  border-radius: 10px;
}

.navbar-nav .open > a,
.navbar-nav .open > a:focus,
.navbar-nav .open > a:hover {
  background-color: #238500;
  color: #fff;
}

#watchImg {
  display: block;
  max-width: 500px;
  max-height: 250px;
padding:25px;
}

/* search bar */

body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #2196f3;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


/* brand img */

.brand {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#welcomeStatement{
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeContainer{
  background-color:white;
}

.column{
  display: block;
  margin-left: auto;
  margin-right: auto;
}